{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "rrv7-monorepo-reserve",
  "main": "./workers/app.ts",
  "compatibility_date": "2025-04-04",
  "compatibility_flags": [
    "nodejs_compat",
    "nodejs_compat_populate_process_env"
  ],
  "observability": {
    "enabled": true
  },
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "rrv7-monorepo",
      "database_id": "d1_db_id",
      "preview_database_id": "d1_db_preview_id",
      "migrations_dir": "../../packages/db/migrations"
    }
  ],
  "vars": {
    "ENVIRONMENT": "production",
    "VALUE_FROM_CLOUDFLARE": "Hello from Cloudflare",
    "BETTER_AUTH_URL": "https://your-production-domain.com",
    "BETTER_AUTH_TRUSTED_ORIGINS": "https://your-production-domain.com"
  },
  "env": {
    "preview": {
      "vars": {
        "ENVIRONMENT": "preview",
        "VALUE_FROM_CLOUDFLARE": "Hello from Cloudflare (Preview)",
        "BETTER_AUTH_URL": "https://your-preview-domain.com",
        "BETTER_AUTH_TRUSTED_ORIGINS": "https://your-preview-domain.com"
      }
    }
  }
}
